.add-country-page {
  padding: 20px;
}

.add-country-page form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-country-page label {
  margin-bottom: 5px;
}

.add-country-page input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-country-page button {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(247, 19, 107);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-country-page button:hover {
  background-color: #45a049;
}
